<h1>cnvrg.io assignment - Home Page</h1>
<br>

<%= button_to "Create New Car", new_car_path, :method => "get" %>
<br>
<%= button_to "Create New Driver", new_driver_path, :method => "get" %>
<br>
<%= button_to "List of Drivers", drivers_path, :method => "get" %>
<br>
<%= button_to "List of Cars", cars_path, :method => "get" %>
<br>
<%= button_to "Drivers and Cars", driversandcars_path, :method => "get" %>
