<h1>New Driver</h1>

<%= form_with model: @driver do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <br>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </div>

  <br>

  <div>
    <%= form.label :cars_id %><br>
    <%= form.collection_check_boxes :car_ids, Car.all, :id, :title %>
  </div>

  <br>
     
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <br>

  <div>
    <% @driver.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <% @driver.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>